wsdl/newService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MyService"
             targetNamespace="http://www.examples.com/wsdl/MyService.wsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.examples.com/wsdl/MyService.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <message name="getEntityRequest">
        <part name="entityId" type="xsd:string"/>
    </message>
    <message name="getEntityResponse">
        <part name="result" type="xsd:string"/>
    </message>

    <message name="greetRequest">
        <part name="name" type="xsd:string"/>
    </message>
    <message name="greetResponse">
        <part name="greeting" type="xsd:string"/>
    </message>

    <portType name="MyServicePortType">
        <operation name="getEntity">
            <input message="tns:getEntityRequest"/>
            <output message="tns:getEntityResponse"/>
        </operation>
        <operation name="greet">
            <input message="tns:greetRequest"/>
            <output message="tns:greetResponse"/>
        </operation>
    </portType>

    <binding name="MyServiceBinding" type="tns:MyServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getEntity">
            <soap:operation soapAction="getEntity"/>
            <input>
                <soap:body use="literal" namespace="http://www.examples.com/wsdl/MyService.wsdl"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://www.examples.com/wsdl/MyService.wsdl"/>
            </output>
        </operation>
        <operation name="greet">
            <soap:operation soapAction="greet"/>
            <input>
                <soap:body use="literal" namespace="http://www.examples.com/wsdl/MyService.wsdl"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://www.examples.com/wsdl/MyService.wsdl"/>
            </output>
        </operation>
    </binding>

    <service name="MyService">
        <port name="MyServicePort" binding="tns:MyServiceBinding">
            <soap:address location="http://localhost:3000/wsdl"/>
        </port>
    </service>
</definitions>
